apiVersion: apps/v1
kind: Deployment
metadata:
 name: nginx
 namespace: declarative-files
spec:
 selector:
   matchLabels:
     app: nginx
 template:
   metadata:
     labels:
       app: nginx
   spec:
     containers:
     - name: nginx
       image: nginx
